@font-face {
	font-family: starWars;
	src: url(../assets/fonts/SfDistantGalaxyOutlineItalic-4yA4.ttf);
}
@font-face {
	font-family: droid;
	src: url(../assets/fonts/DroidobeshDepot-gxmVE.otf);
}

:root {
	--green: #26b621;
	--white: #fff700;
	--red: #e70000;
	--red2: #ad0000;
	--blue: #3e41db;
	--black: black;
}

body {
	color: var(--white);
	font-family: monospace;
	font-size: 15px;
	background-color: #222;
	padding: 10px;
}

.page-content {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	width: 80%;
}

.title {
	display: flex;
	width: 100%;
	align-items: center;
}

.title span {
	padding: 0 10px;
}

.title .hr-container {
	width: 100%;
}

.title hr {
	border-color: transparent;
	border-top: 2px dashed var(--white);
	border-left: 0px dashed var(--white);
	margin: 1.5px 0 -1px 0;
}

.title.green hr {
	border-top: 2px dashed var(--green);
	border-left: 0px dashed var(--green);
}

.title.red hr {
	border-top: 2px dashed var(--red);
	border-left: 0px dashed var(--red);
}

.green {
	color: var(--green);
}

.red {
	color: var(--red);
}

.test {
	margin: 20px 0;
}

.test div {
	display: flex;
	justify-content: space-between;
}

.page-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--red2);
	font-family: 'starWars';
	font-size: 90px;
	font-weight: 500;
	filter: drop-shadow(0 0 5px var(--red2)) drop-shadow(0 0 20px var(--red2)) contrast(2) brightness(2);
}

.comingsoon-span {
	text-align: center;
	font-size: 800%;
	padding-top: 100px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.slow-flickering {
	animation: flicker 5s linear infinite;
}

.fast-flickering {
	animation: flicker 2s linear infinite;
}

.background {
	position: fixed;
	width: 200vw;
	height: 400vw;
	top: -50%;
	left: -50%;
	z-index: 1;
	will-change: transform;
	animation: spin 150s linear infinite;
	background-size: 20%;
	background-position: center center;
	background-repeat: repeat;
	background-attachment: scroll;
}

@keyframes flicker {

	0%,
	19.999%,
	22%,
	62.999%,
	64%,
	64.999%,
	70%,
	100% {
		opacity: .99;

	}

	20%,
	21.999%,
	63%,
	63.999%,
	65%,
	69.999% {
		opacity: 0.4;
	}
}

@-moz-keyframes spin {
	0% {
		-moz-transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
	}
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.2);
	}

	100% {
		-webkit-transform: scale(1);
	}
}

@keyframes spin {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.stars {
	background-image: url("../assets/space.jpg");
}

.terminal {
	background-color: var(--black);
	padding: 10px;
	max-height: 500px;
	overflow-y: auto;
	/* border: 2px solid rgb(51, 6, 232); */
	/* box-shadow: 0 0 40px 8px rgba(255, 247, 2, 0.625); */
	border: 2px solid var(--blue);
	border-radius: 7px;
	filter: drop-shadow(0 0 5px var(--blue)) drop-shadow(0 0 20px var(--blue)) contrast(2) brightness(2);
}
.soldier-container {
	margin: 0 2px;
    bottom: 1px;
    height: 80px;
    position: absolute;
    width: calc(100% - 4px);
    overflow-x: hidden;
}
.text-description {
	text-align: center;
	font-family: 'droid';
	font-size: 25px;
}
.text-description .span1 {
	font-family: monospace;
	font-size: 31px;
	margin-right: -5px;
}
.text-description .span2 {
	margin-left: -5px;
}

.destroyer {
	position: absolute;
	height: 100px;
	top: 156px;
	left: -50%;
	transform: scale(0.7);
	z-index: -1;
	/* left: -360px; */
	animation: moving 100s linear infinite;
}

@keyframes moving {
	0% {
		left: -30vw;
	}
	100% {
		left: 100vw
	}
}

.d-none {
	display: none;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
	width: 0px;
}

.terminal::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--black);
	border-radius: 15px;
	margin: 1px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--white);
	width: 5px;
	border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/* DEATH STAR */
.death-star {
	width: 50px;
}
