<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Dark's One</title>
	<link rel="stylesheet" href="./static/styles/style.css">
	<link rel="stylesheet" href="./static/styles/soldier.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/style.css') }}">
</head>
<body>
<!--
	<span>FT_PUTSTR_FD</span>

	<div class="title">
		<div class="hr-container">
			<hr/>
			<hr/>
		</div>
		<span>test&nbsp;session&nbsp;started</span>
		<div class="hr-container">
			<hr/>
			<hr/>
		</div>
	</div>

	<span>collected 5 item</span>

	<div class="test">

		<div>
			<span>test/test_ft_putnbr_fd.py::test1_ft_putnbr_fd <span style="margin-left: 5px;" class="green">PASSED</span></span>
			<span class="green">[&nbsp;20%]</span>
		</div>
		<div>
			<span>test/test_ft_putnbr_fd.py::test1_ft_putnbr_fd <span style="margin-left: 5px;" class="green">PASSED</span></span>
			<span class="green">[&nbsp;40%]</span>
		</div>
		<div>
			<span>test/test_ft_putnbr_fd.py::test1_ft_putnbr_fd <span style="margin-left: 5px;" class="green">PASSED</span></span>
			<span class="green">[&nbsp;60%]</span>
		</div>
		<div>
			<span>test/test_ft_putnbr_fd.py::test1_ft_putnbr_fd <span style="margin-left: 5px;" class="green">PASSED</span></span>
			<span class="green">[&nbsp;80%]</span>
		</div>
		<div>
			<span>test/test_ft_putnbr_fd.py::test1_ft_putnbr_fd <span style="margin-left: 5px;" class="green">PASSED</span></span>
			<span class="green">[100%]</span>
		</div>
	</div>

	<div class="title green">
		<div class="hr-container">
			<hr/>
			<hr/>
		</div>
		<span>5&nbsp;passed&nbsp;in&nbsp;0.01s</span>
		<div class="hr-container">
			<hr/>
			<hr/>
		</div>
	</div>
	-->

	<!-- PROVA -->
	<section>
		<div class="background stars"></div>
		<div class="page-content">
			<img src="./static/assets/destroyer.png"  class="destroyer "></img>
			<div class="page-title">
				<span>the <span class="fast-flickering">dark</span> side</span>
				<span>of <span class="slow-flickering">moulinette</span></span>
			</div>
			<div style="margin: 30px 0;">
				<div class="text-description">
					<div>
						<span class="span1"></span>
						<span class="span2">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
					</div>
					<div>
						<span class="span1"></span>
						<span class="span2">Explicabo, a, nam, nesciunt rem quas veritatis provident</span>
					</div>
					<div>
						<span class="span1"></span>
						<span class="span2">tenetur saepe tempore numquam commodi neque!</span>
					</div>
					<div>
						<span class="span1"></span>
						<span class="span2">Quaerat ullam praesentium commodi alias repudiandae vero magnam!</span>
					</div>
				</div>
				<form action="#" method="post" enctype="multipart/form-data">
					<input type="file"
					       class="form-control"
					       id="file-upload"
					       placeholder="upload"
					       name="file"
					       accept=".zip" required/>
					<button type="submit">Submit</button>
				</form>
			</div>
			<!-- <img src="./assets/deathStar.png" class="death-star"> -->
			<div class="sld-trm-container d-none">
				<div class="terminal" id="prova"></div>
				<div class="soldier-container">
					<div class="soldier"></div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>
<!-- <script src="./js/message.js"></script> -->
<script src="./static/js/index.js"></script>
<script src="./static/js/typeWriter.js"></script>
<script>
  let prova = '{{ [result] }}'
  {% if data and data["result"] %}
  getJson(prova)
  {% endif %}
  console.log(prova)

</script>
