<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="./static/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./static/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./static/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="./static/assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="./static/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="./static/assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="./static/assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<title>Dark Moulinette</title>
	<link rel="stylesheet" href="./static/styles/style.css">
	<link rel="stylesheet" href="./static/styles/soldier.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/style.css') }}"> -->
</head>
<body>
	<!-- PROVA -->
	<section>
		<div class="background stars"></div>
		<div class="page-content">
			<img src="./static/assets/destroyer.png"  class="destroyer "></img>
			<div class="page-title">
				<span>the <span class="fast-flickering">dark</span> side</span>
				<span>of <span class="slow-flickering">moulinette</span></span>
			</div>
			<div style="margin: 30px 0;">
				<div class="text-description">
					<div>
						<span class="span1"></span>
						<span class="span2">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
					</div>
					<div>
						<span class="span1"></span>
						<span class="span2">Explicabo, a, nam, nesciunt rem quas veritatis provident</span>
					</div>
					<div>
						<span class="span1"></span>
						<span class="span2">tenetur saepe tempore numquam commodi neque!</span>
					</div>
					<div>
						<span class="span1"></span>
						<span class="span2">Quaerat ullam praesentium commodi alias repudiandae vero magnam!</span>
					</div>
				</div>
				<form action="/tested" method="post" enctype="multipart/form-data">
					<input type="file"
					       class="form-control"
					       id="file-upload"
					       placeholder="upload"
					       name="file"
					       accept=".zip" required/>
					<button type="submit">Submit</button>
				</form>
			</div>
			<!-- <img src="./assets/deathStar.png" class="death-star"> -->
			<div class="sld-trm-container d-none">
				<div class="terminal" id="prova"></div>
				<div class="soldier-container">
					<div class="soldier"></div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>
<!-- <script src="./js/message.js"></script> -->
<script src="./static/js/index.js"></script>
<script src="./static/js/typeWriter.js"></script>
<script>
    getJson({{ result|safe }})

</script>
